---
layout: default
page_id: home
---

<!-- Hero -->
<section id="intro" style="background-image: url('/assets/img/hero/double-exposure-bg.jpg');" class="hero">
  <div class="hero__overlay"></div>
  <div class="hero__content">
    <div class="container clearfix">
      <div class="row">
        <div class="col-lg-8 col-md-12 mx-auto">
          <h1>{{ site.data.sitetext.home.hero.heading }}</h1>
          <p class="italic">{{ site.data.sitetext.home.hero.tagline }}</p>
          <a href="#contact" class="btn-primary">{{ site.data.sitetext.home.hero.cta_text }}</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- About -->
<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2 class="section-heading">{{ site.data.sitetext.home.about.heading }}</h2>
        {% for para in site.data.sitetext.home.about.paragraphs %}
        <p>{{ para }}</p>
        {% endfor %}
      </div>
      <div class="col-lg-5 mx-auto">
        <p><img src="/assets/img/profile/craig-stuart.png" alt="Craig Stuart" class="img-fluid rounded-circle" loading="lazy"></p>
      </div>
    </div>
  </div>
</section>

<!-- How I Can Help -->
<section id="howihelp" class="section--text section--inverse">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-heading">{{ site.data.sitetext.home.how_i_help.heading }}</h2>
        <div class="row">
          <div class="col-md-6">
            {% for para in site.data.sitetext.home.how_i_help.intro %}
            <p>{{ para }}</p>
            {% endfor %}
          </div>
          <div class="col-md-6">
            <p>The people who benefit the most from my coaching are:</p>
            <ul>
              {% for benefit in site.data.sitetext.home.how_i_help.benefits %}
              <li>{{ benefit }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- What I Do -->
<section id="whatido" style="background-color: #eee">
  <div class="container">
    <div class="row services">
      <div class="col-lg-12">
        <h2 class="section-heading">{{ site.data.sitetext.home.services.heading }}</h2>
        <div class="row">
          {% for service in site.data.sitetext.home.services %}
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-box__icon"><i class="fa {{ service.icon }} fa-lg"></i></div>
              <h5>{{ service.title }}</h5>
              <p>{{ service.text }}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Testimonials -->
<section id="testimonials" class="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-heading">{{ site.data.sitetext.home.testimonials.heading }}</h2>
        {% for item in site.data.sitetext.home.testimonials.items %}
        <div class="testimonial">
          {% if item.image %}
          <img src="{{ item.image }}" class="testimonial__img" alt="{{ item.name }}, {{ item.company }}" loading="lazy">
          {% endif %}
          <h3>{{ item.name }}{% if item.role %}, {{ item.role }}{% endif %}</h3>
          <h4>{{ item.company }}</h4>
          <p>
            <i class="bx bxs-quote-alt-left testimonial__quote"></i>
            {{ item.quote }}
            <i class="bx b-xs-quote-alt-right testimonial__quote--right"></i>
          </p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<!-- Clients -->
<section id="clients" class="clients">
  <div class="container">
    <h2 class="section-heading">{{ site.data.sitetext.home.clients.heading }}</h2>
    <div class="row no-gutters clients__wrap clearfix wow fadeInUp">
      {% for logo in site.data.sitetext.home.clients.logos %}
      <div class="col-lg-3 col-md-4 col-6">
        <div class="clients__logo">
          <img src="{{ logo.src }}" class="img-fluid" alt="{{ logo.alt }}" loading="lazy">
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<!-- FAQ -->
<section id="faq" class="faq">
  <div class="container">
    <h2 class="section-heading">{{ site.data.sitetext.home.faq.heading }}</h2>
    {% for item in site.data.sitetext.home.faq.items %}
    <div class="faq__item">
      <h3 class="faq__question">{{ item.question }}</h3>
      <p class="faq__answer">{{ item.answer }}</p>
    </div>
    {% endfor %}
  </div>
</section>
