<footer id="contact" style="background-color: #111;">
  <div class="container">
    <div class="row site-footer__copyright">
      <div class="col-md-4 mb-md-0 text-center text-md-left">
        <h5>Contact</h5>
        <div class="contact-line">
          <div class="site-footer__icon"><i class="fa fa-linkedin fa-lg site-footer__social-icon"></i></div><a class="align-bottom"
            href="{{ site.data.business.social.linkedin }}" target="_blank">Craig Stuart</a>
        </div>
        <div class="contact-line">
          <div class="site-footer__icon"><i class="fa fa-envelope fa-lg site-footer__social-icon"></i></div><a class="align-bottom"
            href="mailto:{{ site.data.business.email }}">{{ site.data.business.email }}</a>
        </div>
        <div class="contact-line">
          <div class="site-footer__icon"><i class="fa fa-phone fa-lg site-footer__social-icon"></i></div><a href="tel:{{ site.data.business.telephone }}"
            class="align-bottom">{{ site.data.business.telephone }}</a>
        </div>
        <div class="contact-line">
          <div class="site-footer__icon"><i class="fa fa-copyright fa-lg"></i></div><span
            class="align-bottom">{{ site.data.business.copyright }}</span>
        </div>
      </div>
    </div>
  </div>
</footer>
