<a name="footer-anchor"></a>

<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
    <div class="wrapper">
  
      <div class="footer-col-wrapper">
        <div class="footer-col">
             

          <ul class="contact-list">
              <li class="p-name">{{ site.author.name | escape }}</li>
              <li></li>
          </ul>
        

        </div>
        <div class="footer-col">
          <p>{{ site.description | escape }}</p>
        </div>
      </div>
  
      <div class="social-links">
           <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
           <p>073 316 7105</p>
           {%- include social.html -%}
      </span>
      </div>
  
    </div>
  
  </footer>