<header class="site-header">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a href="#intro" class="navbar-brand link-scroll">
        <img src="/assets/img/logo/apex-white.png" alt="Apex Coaching" class="site-header__logo"></a>
      <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
        class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>
      <div id="navbarSupportedContent" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href="#intro" class="nav-link link-scroll">Home</a></li>
          <li class="nav-item"><a href="#about" class="nav-link link-scroll">About Me</a></li>
          <li class="nav-item"><a href="#whatido" class="nav-link link-scroll">What I Do</a></li>
          <li class="nav-item"><a href="#howihelp" class="nav-link link-scroll">How I Help</a></li>
          <li class="nav-item"><a href="#testimonials" class="nav-link link-scroll">Testimonials</a></li>
          <li class="nav-item"><a href="#clients" class="nav-link link-scroll">Clients</a></li>
          <li class="nav-item"><a href="contact.html" class="nav-link link-scroll">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
