<section id="intro" style="background-image: url('/assets/img/hero/double-exposure-bg.jpg');" class="hero">
  <div class="hero__overlay"></div>
  <div class="hero__content">
    <div class="container clearfix">
      <div class="row">
        <div class="col-12">
          <div class="hero__text">
            <p class="hero__eyebrow">{{ site.data.sitetext.home.hero.eyebrow }}</p>
            <h1 class="hero__title">{{ site.data.sitetext.home.hero.heading }}</h1>
            <p class="hero__subtitle">{{ site.data.sitetext.home.hero.tagline }}</p>
            <a href="/contact.html" class="btn-primary hero__cta">{{ site.data.sitetext.home.hero.cta_text }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
